@charset "utf-8";

@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); 
$static:'.';
$folder:'.';

$minWidth:1200px;
$imgWidth:2560px;

$fontFamily:'Spoqa Han Sans', '맑은고딕', Dotum, '돋움', Hevetica, AppleGothic, sans-serif;
$baseFontSize:14px;


$fontColor:#333;
$linkColor:#000;
$bodyColor:#fff;

$pcolor_1:#F26A46;
$pcolor_2:#FFB289;
$pcolor_3:#e2e7d3;
$pcolor_4:#a7a991;
$pcolor_5:#CDC2AF;
$pcolor_6:#333333;
