
[class *='box']{
	width: 100%;
	height: 100px;
	padding: 20px;
	border-bottom:1px solid gray;
	text-align: center;
}
.box1{
	span{
		position: absolute;
		width: 24px;
		height: 24px;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		transform: rotate(-45deg);
		animation: updown 2s infinite;
		box-sizing: border-box;
	}
}


@keyframes updown {
	0% {
	  transform: rotate(-45deg) translate(0, 0);
	}
	20% {
	  transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
	  transform: rotate(-45deg) translate(0, 0);
	}
  }



.box2{
	span{
		position: absolute;
		width: 24px;
		height: 24px;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		transform: rotate(-45deg);
		animation: fadedown 2s infinite;
		box-sizing: border-box;
	}
}

@keyframes fadedown {
	0% {
	  transform: rotate(-45deg) translate(0, 0);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  transform: rotate(-45deg) translate(-20px, 20px);
	  opacity: 0;
	}
  }
  

  .box3{
	span{
		position: absolute;
		width: 24px;
		height: 24px;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		transform: rotate(-45deg);
		animation: spin 2s infinite;
		box-sizing: border-box;
	}
}

  @keyframes spin {
	0% {
	  transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
	  opacity: 0;
	}
  }
  


a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	width: 200px;
	color: #000;
	
	&:after{
	  position: absolute;
	  display: block;
	  content:'';
	  background: skyblue;
	  width: 100%;
	  height: 1px;
	  left: 0;
	  transform-origin: right;
	  transition: transform .9s cubic-bezier(.19,1,.22,1);
	  transform: scaleX(0);
	}
	&:hover{
	  &:after{
			transform-origin: left;
			transform: scaleX(1);
	  }
	}
  }
  
  