@charset "UTF-8";

/**
 * import
 */

@import "util/variable";
@import "util/mixin";
@import "util/reset";

@import "module/common";
@import "module/layer";



.title{font-size: 26px; font-weight: normal;}
.sub_title{font-size: 18px; font-weight: normal;}
.content{
	font-size: 18px;
}


[class *= btn-]{
	display: inline-block;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
	vertical-align: middle;
    border-radius: 2px;
    background: #fff;
	i{display: inline-block; width: 17px;height: 17px;margin-right: 4px;background: #000; vertical-align: sub;}
}
.btn-color{
	min-width: 100px; height: 38px; padding: 0 14px; border:1px solid $pcolor_1; line-height: 38px; color: #fff; background: $pcolor_1; color:#fff;
	&:hover{ background: #d8522e;}
	&.disabled{ opacity:.3; cursor:default; 
		&:hover{background: $pcolor_1;}
	}
} 
.btn-white{min-width: 100px; height: 38px; padding: 0 14px; border:1px solid #cccccc; line-height: 38px; color: #000;
    &:hover{  border: solid 1px #333333;}
    &.disabled{ opacity:.3; cursor:default; background: #e1e1e1;
        &:hover{border: 1px solid #cccccc;}
    }
}

[class *= sbtn-]{
	display: inline-block;
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: 2px;
}

.sbtn-color{
	min-width: 62px; height: 32px; padding: 0 14px; border:1px solid $pcolor_1; line-height: 32px; color: #fff; background: $pcolor_1; color:#fff;
	&:hover{ background: #d8522e;}
	&.disabled{ opacity:.3; cursor:default; 
		&:hover{background: $pcolor_1;}
	}
} 
.sbtn-white{min-width: 62px; height: 32px; padding: 0 14px; border:1px solid #cccccc; line-height: 32px; color: #000;
    &:hover{  border: solid 1px #333333;}
    &.disabled{ opacity:.3; cursor:default; background: #e1e1e1;
        &:hover{border: 1px solid #cccccc;}
    }
}

[class *= ibtn-]{
	display: inline-block;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: 2px;
}
.ibtn-color{
	min-width: 100px; height: 38px; padding: 0 14px; border:1px solid $pcolor_1; line-height: 38px; color: #fff; background: $pcolor_1; color:#fff;
	&:hover{ background: #d8522e;}
	&.disabled{ opacity:.3; cursor:default; 
		&:hover{background: $pcolor_1;}
	}
} 
.ibtn-white{min-width: 100px; height: 38px; padding: 0 14px; border:1px solid #cccccc; line-height: 38px; color: #000;
    &:hover{  border: solid 1px #333333;}
    &.disabled{ opacity:.3; cursor:default; background: #e1e1e1;
        &:hover{border: 1px solid #cccccc;}
    }
}



.btn-txt{
    padding-right: 14px;
    background: url("../imgs/icn-arrow-right-small.png") no-repeat 100% 50%;
    box-sizing: border-box;
    &:hover {
        margin-bottom: -1px;
       border-bottom: 1px solid #000;
    }
}


/* html {
    box-sizing: border-box;
  background: #f2f2f2;
  padding: 20px 50px
} */

/* Inherit box-sizing to make it easier to change the property
 * for components that leverage other behavior.*/
/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

/*style form to limit width and highlight the long label*/





.layer-pop{
    width: 420px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    .layer-wrap{
        position: relative;
        padding: 30px 40px;
        color: #000;
    }
    .layer-tit{padding-bottom: 14px;font-size: 18px;font-weight: bold;}
    .layer-cont{padding-bottom: 40px;font-size: 16px;line-height: 1.4;}
    .layer-close{display: block;
        position: absolute;
        top: 24px;
        right: 38px;
        width: 30px;
        height: 30px;
        background: url("../imgs/icn-close.png") no-repeat 0 0;
        text-indent: -9999px;
    }
    .area-btn{text-align: right;}
}

.btn-txt{font-size: 14px; color:#000
    
}
/* 
//우측 네비
#fp-nav ul li .fp-tooltip.right{ top: 15px;right: 50px; line-height: 1.2;}
#fp-nav ul li, .fp-slidesNav ul li{ width: 46px; height: 46px;
    &:nth-child(1){ display: none}
    a{ display: block; width: 46px; height: 46px;
        span{ display: none;}
    }
    &:nth-child(2) a{@include bg($bg:'nav1.png');
        &.active,&:hover{background-position:0 100%}
    }
    &:nth-child(3) a{@include bg($bg:'nav2.png');
        &.active,&:hover{background-position:0 100%}
    }
    &:nth-child(4) a{@include bg($bg:'nav3.png');
        &.active,&:hover{background-position:0 100%}
    }
    &:nth-child(5) a{@include bg($bg:'nav4.png');
        &.active,&:hover{background-position:0 100%}
    }
}

//이미지 리스트
.sliderBox{ position: relative; width: 833px; margin:0 auto;
    button{ display: block; width: 36px; height: 69px; position: absolute; top:50%; margin-top:-34px;text-indent: -999em;
        &.btn-prev{@include bg($bg:'prev.png'); left: -85px;}
        &.btn-next{@include bg($bg:'next.png'); right: -85px;}
    }
    .pages{ overflow: hidden; display: inline-block; margin-top: 2%;
        li{float:left; margin-left: 20px;
            a{ display: block;position: relative;width: 16px; height: 16px;border-radius: 16px; background: #fff; opacity:.6;text-indent: -999em}
            &:first-child{ margin-left: 0;}
            &.active a,a:hover{opacity:1}
        }
    }
    
    .listWrap{
        position: relative;overflow: hidden;
        ul{  margin-left: -11px; margin-top: -11px;
            li{float:left; width: 270px;margin-top: 11px; margin-left: 11px;
                > a{ position: relative;display: block;
                    &:after{ position: absolute; display: block;content:'Large View'; top: 0; left: 0; width: 100%; height: 100%; color:#fff; background: rgba(0,0,0,.8); line-height: 179px; opacity:0; transition: opacity ease .5s;  }
                    &:hover:after{opacity:1;  transition: opacity ease .5s;  }
                    img{ width: 270px; height: 179px;vertical-align: top}
                }
                span{ display: block; position: relative; height: 49px;line-height: 49px; background: #000;color:#fff; font-size: 24px; text-align: center;
                    a{ display: inline-block; position: absolute; right: 20px; font-size: 12px; color:#4f4d4d; text-decoration: none;
                        &:hover{color:#ccc;}
                    }
                }
            }
        }
    }
}


// 필터 리스트
#fullpage{
    .category{ overflow: hidden; display: inline-block;margin:1.5% auto;
        li{float:left;
            a{ position: relative;display: block; padding: 0 34px 0 36px; text-indent: -999em;
                &:after{ display: block; position: absolute; content:''; left:0; top:3px; width: 1px; height: 18px; background: #fff; opacity:0.3;}
            }
            &:nth-child(1) a:after{ display: none;}
            &.active a,& a:hover{background-position:50% 100%}
        }
    }
}



.page1{
    .logo{ @include bg($bg:'title1.png');}
    .category{ margin-top: 70px !important;
        li{
            &:nth-child(1) a{ width: 100px; height: 25px;@include bg($bg:'menu1.png');}
            &:nth-child(2) a{ width: 101px; height: 25px;@include bg($bg:'menu2.png');}
            &:nth-child(3) a{ width: 150px; height: 25px;@include bg($bg:'menu3.png');}
            &:nth-child(4) a{ width: 98px; height: 25px;@include bg($bg:'menu4.png');}
        }
    }
}
.page2{
    .logo{ @include bg($bg:'title2.png');}
    .category li{
        &:nth-child(1) a{ width: 34px; height: 18px;@include bg($bg:'all.png');}
        &:nth-child(2) a{ width: 139px; height: 23px;@include bg($bg:'cate2-1.png');}
        &:nth-child(3) a{ width: 124px; height: 23px;@include bg($bg:'cate2-2.png');}
        &:nth-child(4) a{ width: 142px; height: 23px;@include bg($bg:'cate2-3.png');}
        &:nth-child(5) a{ width: 175px; height: 23px;@include bg($bg:'cate2-4.png');}
    }
}
.page3{
    .logo{ @include bg($bg:'title3.png');}
    .category li{
        &:nth-child(1) a{ width: 34px; height: 18px;@include bg($bg:'all.png');}
        &:nth-child(2) a{ width: 173px; height: 23px;@include bg($bg:'cate3-1.png');}
    }
}
.page4{
    .logo{ @include bg($bg:'title4.png');}
    .category li{
        &:nth-child(1) a{ width: 34px; height: 18px;@include bg($bg:'all.png');}
        &:nth-child(2) a{ width: 128px; height: 23px;@include bg($bg:'cate4-1.png');}
        &:nth-child(3) a{ width: 119px; height: 23px;@include bg($bg:'cate4-2.png');}
        &:nth-child(4) a{ width: 301px; height: 23px;@include bg($bg:'cate4-3.png');}
    }
}
.page5{
    .logo{ @include bg($bg:'title5.png');}
    .category li{
        &:nth-child(1) a{ width: 34px; height: 18px;@include bg($bg:'all.png');}
        &:nth-child(2) a{ width: 205px; height: 23px;@include bg($bg:'cate5-1.png');}
        &:nth-child(3) a{ width: 127px; height: 23px;@include bg($bg:'cate5-2.png');}
    }
    .copy{@include bg($bg:'copy.png'); width: 531px; height: 18px; margin: 40px auto 0;text-indent: -999em}
} */


.fsec-radio {
    position: relative;
  
    label {
      display: block;
      padding-left: 32px;
      line-height: 24px;
    }
  
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      opacity: 0;
  
      + label {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          border: solid 1px #cccccc;
          background: #fff;
          border-radius: 50%;
        }
  
        &::after {
          content: "";
          position: absolute;
          top: 7px;
          left: 7px;
          border: 6px solid #fff;
          border-radius: 50%;
          transition: opacity 0.2s ease-in-out;
          opacity: 0;
        }
      }
  
      &:checked + label {
        &::after { opacity: 1; }
        &::before { background: #F26A46; }
      }
  
      &:focus + label::before {
        box-shadow: 0 0 0 1px #ffbf47;
      }
  
      &:disabled + label::before {
        background: #F26A46;
        opacity: 0.3;
      }
    }
  }


.fsec-sm-chkbox {
position: relative;

label {
    box-sizing: border-box;
    display: block;
    padding-left: 26px;
    line-height: 18px;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
    &:focus + label {
        &::before {
            border: 1px solid red;
        }
    } 

    + label {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: solid 1px #e1e1e1;
        border-radius: 2px;
        box-sizing: border-box;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url("../imgs/chk-selected.png") no-repeat 0 0;
        height: 18px;
        width: 18px;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        box-sizing: border-box;
    }
    }

    &:checked + label {
    &::after {
        opacity: 1;
    }

    &::before {
        border: none;
    }
    }

    &:focus + label::before {
    //   box-shadow: 0 0 0 3px #ffbf47;
    outline: 3px solid transparent;

    /* For Windows high contrast mode. */
    }
}
}
  
.fsec-chkbox {
    position: relative;
  
    label {
      box-sizing: border-box;
      display: block;
      padding-left: 32px;
      line-height: 24px;
      font-size: 16px;
    }
  
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      opacity: 0;
      &:focus + label {
            &::before {
                border: 1px solid red;
            }
        } 
  
      + label {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 24px;
          height: 24px;
          border: solid 1px #e1e1e1;
          border-radius: 2px;
          box-sizing: border-box;
        }
  
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: url("../imgs/chk-bselected.png") no-repeat 0 0;
          height: 24px;
          width: 24px;
          transition: opacity 0.2s ease-in-out;
          opacity: 0;
          box-sizing: border-box;
        }
      }
  
      &:checked + label {
        &::after {
          opacity: 1;
        }
  
        &::before {
          border: none;
        }
      }
  
      &:focus + label::before {
        outline: 3px solid transparent;
      }
    }
  }


  footer{
      width: 100%;
      background: #f9f9f9;
      font-size: 14px;

      .footer-wrap{
        position: relative;
        padding: 45px 0 41px 170px;
        width: 1200px;
        margin: 0 auto;
        color: #868686;
      }
      .footer-logo{
          position: absolute;
          top: 38px;
          left: 0;
          a{
            display: block;
            width: 120px;
            height: 36px;
            background: #eee;
            text-indent: -9999em;
          }
      }
      .footer-info{   
          display: block;
          margin-bottom: 8px;    
          color: #333;
      }
      .footer-menu{
          overflow: hidden;
          margin-bottom: 8px;
          li{float: left;
            position: relative;
            padding-right: 17px;
            a{color:#868686; }
            @include line();
        }
      }
      .footer-addr{
          overflow: hidden;
          margin-bottom: 30px;
          dt{float: left;font-weight: bold;}
          dd{float: left;
            position: relative;
            padding-right: 17px;
            a{color:#868686; }
            @include line();
        }
      }
  }



input[type=text]{
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 11px 14px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    margin-bottom: 5px;
    &::placeholder {
        color: #999999;
        }
}


//////////////////////
.selectWrap {
	display: inline-block;
}

.fsec-selectbox {
    width: 100%;
    height: 40px;
    background: #fff;
    line-height: 40px;
    color: #000;
    cursor: pointer;
}

.fsec-selectbox .select-styled::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    width: 26px;
    height: 26px;
    background:  url("../imgs/icn-arrow-down.png") 50% 50% no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.fsec-selectbox .select-styled.active::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fsec-selectbox.active .select-styled {
    color: #000
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px
}


.fsec-selectbox .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
}
.fsec-selectbox select.select {
    display: none;
}

.select-styled {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.select-styled.active {
    border-radius: 2px 2px 0 0
}

.select-options {
    display: none;
    border: solid 1px #cccccc;
    border-top: 0;
    box-sizing: border-box;
    z-index: 999;
    margin: 0;
    padding: 8px 0 16px;
    list-style: none;
    overflow-y: auto;
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    z-index: 2;
    max-height: 355px;
    background: #fff;
    border-radius: 0 0 2px 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.select-options li {
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    a{
        display: block;
        padding: 0 13px;
        font-size: 14px;
        color: #666;
        line-height: 40px;
        &:hover{ background-color: #fef7f3;}
        &.active{
            color: #000;
            background:  url("../imgs/icn-check-2-small.png") right 13px top 50% no-repeat;
            &:hover{background-color: #fef7f3;}
        }
    }
}


.select-options li[rel="hide"] {
    display: none
}

.select-options::-webkit-scrollbar {
    width: 4px;
    height: 10px
}

.select-options::-webkit-scrollbar-track {
    background: #f1f1f1
}

.select-options::-webkit-scrollbar-thumb {
    background: #a7a7a7
}


///////////////////////////
.fsec-sm-selectbox {
    width: 100%;
    height: 34px;
    background: #fff;
    line-height: 34px;
    color: #000;
    cursor: pointer;
}

.fsec-sm-selectbox .select-styled::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
    background:  url("../imgs/icn-arrow-down.png") 50% 50% no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.fsec-sm-selectbox .select-styled.active::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fsec-sm-selectbox.active .select-styled {
    color: #000
}

.fsec-sm-selectbox .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 34px;
}
.fsec-sm-selectbox select.select {
    display: none;
}

.fsec-sm-selectbox .select-styled {
    padding: 0 14px;
    font-size: 12px;
    line-height: 34px;
}


.fsec-sm-selectbox .select-options {
    padding: 8px 0 16px;
    top: 34px;
    max-height: 355px;
}

.fsec-sm-selectbox .select-options li {
    a{
        padding: 0 13px;
        font-size: 12px;
        line-height: 34px;
        &.active{
            color: #000;
            background:  url("../imgs/icn-check-2-small.png") right 7px top 50% no-repeat;
            &:hover{background-color: #fef7f3;}
        }
    }
}